<div>
  <h3>Schedule</h3>
  
  <table class="schedule">
    <tr>
      <td>9:00&nbsp;a.m.</td>
      <td>Registration and breakfast</td>
    </tr>
    <tr>
      <td>9:45&nbsp;a.m.</td>
      <td>Opening Remarks</td>
    </tr>
    <tr>
      <td>10:00&nbsp;a.m.</td>
      <td><a href="/speakers.html#gauthier">Grease your Suite: Tips and Tricks for Faster Testing</a> Nick Gauthier</td>
    </tr>
    <tr>
      <td>10:55&nbsp;a.m.</td>
      <td><a href="/speakers.html#gupta">memprof: the ruby level memory profiler</a> Aman Gupta</td>
    </tr>
    <tr>
      <td>11:50&nbsp;a.m.</td>
      <td><a href="/speakers.html#melia">Managing Ruby Teams</a> Luke Melia</td>
    </tr>
    <tr>
      <td>12:35&nbsp;p.m.</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td>1:45&nbsp;p.m.</td>
      <td><a href="/speakers.html#williams">Rails Best Caching Method is JavaScript</a> Chris Williams</td>
    </tr>
    <tr>
      <td>2:40&nbsp;p.m.</td>
      <td><a href="/speakers.html#maccaw">Bowline - Ruby Desktop Applications</a> Alex MacCaw</td>
      </tr>
    <tr>
      <td>3:25&nbsp;p.m.</td>
      <td>Break</td>
    </tr>
    <tr>
      <td>3:45&nbsp;p.m.</td>
      <td><a href="/speakers.html#dix">Building Web Service Clients with ActiveModel</a> Paul Dix</td>
    </tr>
    <tr>
      <td>4:40&nbsp;p.m.</td>
      <td><a href="/speakers.html#golick">Scaling to Hundreds of Millions of Requests</a> James Golick</td>
    </tr>
    <tr>
      <td>5:35&nbsp;p.m.</td>
      <td>RejectConf</td>
    </tr>
  </table>
</div>
