<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>RedSnakePhilly 2012 - A Python and Ruby Showdown</title>
    <link href="/stylesheets/application.css" media="all" rel="stylesheet" type="text/css"/>
    <meta content=" A Python and Ruby Showdown in Philadelphia." name="description" />
    <link href="/favicon.ico" rel="icon" />
  </head>
  <body>
    <div id="container">
      <div id='sidebar'>
        <a href="/" id="logo"></a>
        <div id='nav'>
          <a id="home" href="/">Home</a>
          <a id="about" href="/about/">About</a>
          <a id="schedule" href="/schedule/">Schedule</a>
          <a id="speakers" href="/speakers/">Speakers</a>
          <a id="sponsors" href="/sponsors/">Sponsors</a>
          <a id="organizers" href="/organizers/">Organizers</a>
          <!--<a href="http://goradiator.heroku.com/"/>Radiator</a>-->
        </div> <!-- nav -->
        <div class="sections">
          <div class="sponsors">
            <h4 style="margin-top:10px;">Sponsors:</h4>
            <p>You?</p>
            <p><a href="mailto:mat@schaffer.me">Email us if you'd like to sponsor!</a></p>
          </div>

          <div id="linksWrapper">
            <h4>Elsewhere</h4>
            <a href="http://www.twitter.com/redsnakephilly" target="blank">
              <img src="/images/icons/twitter-2.png" alt="twitter" />
            </a>
            <a href="http://www.github.com/redsnake" target="blank">
              <img src="/images/icons/github.png" alt="github" />
            </a>
            <a href="http://www.flickr.com/search/?q=redsnakephilly&f=hp" target="blank">
              <img src="/images/icons/flickr.png" alt="flickr" />
            </a>
            <a href="mailto:info@redsnake.org" class="last">
              <img src="/images/icons/email.png" alt="email" />
            </a>
          </div>

          <div class="clear"></div>
        </div>
      </div> <!-- sidebar -->
      <div id='content_wrap'>
        <div id="content">
          {{ content }}
        </div>
        <div id="footer"></div>
      </div> <!-- content -->
      <div class="clear"></div>
    </div>
  </body>
</html>
